<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiscordRP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DiscordRP.Properties.Settings>
            <setting name="clientID" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="rpState" serializeAs="String">
                <value />
            </setting>
            <setting name="rpDetails" serializeAs="String">
                <value />
            </setting>
            <setting name="rpSmallKey" serializeAs="String">
                <value />
            </setting>
            <setting name="rpSmallText" serializeAs="String">
                <value />
            </setting>
            <setting name="rpLargeKey" serializeAs="String">
                <value />
            </setting>
            <setting name="rpLargeText" serializeAs="String">
                <value />
            </setting>
            <setting name="rpTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autostart" serializeAs="String">
                <value>False</value>
            </setting>
        </DiscordRP.Properties.Settings>
    </userSettings>
</configuration>